input {
  font-size: 1.6rem;
}

input.wider {
  min-width: 80%;
}

video {
  width: 35%;
  display: none;
}

div#map {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 300px;
}

video#self-video {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 300;
}

